<form action="/items" method="post" class='new-item'>
  <input type="text" value="Title" name="item[title]"/>
  <input type="text" value="Description" name="item[description]"/>
  <input type="text" value="Price" name="item[price]"/>
  <input type="text" value="image" name="item[image]"/>
  <input type="submit" value="Submit"/>
</form>
